@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');


body{
  font-family: "Poppins", system-ui;
}


:root{
  --red: #D01C28;
  --gray: #2e2e2e;

}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
}


.hero-content{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: start;
  gap: 1rem;
  flex-direction: column;
}

.hero-content h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6rem;
  font-weight:900;
  line-height: 5.5rem;
}


.hero-content p{
  font-size: 1rem;
  color: var(--gray);
  font-weight: bold;
  padding-right: 15rem;
  text-align: justify;
}

.hero-btn button{
  padding: 10px 15px ;
  margin-right: 1rem;
  background-color: var(--red);
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;

}
.hero-btn button:active{
  background-color: #960610;
}


.shoping p{
  margin: 1rem 0;
}

.brand-icons img{
  margin-right: 1rem;
  cursor: pointer;
}

.brand-icons img:hover{
  transition: 0.3s;
  transform: scale(1.2);
}